*.prefs
*.class
bin/
dist

#editor backup files
*~

#local IDE files
.idea
*.iml

#Docear Desktop
docear_framework
docear_plugin_bibtex
docear_plugin_core
docear_plugin_dragbase
docear_plugin_optionpane
docear_plugin_pdfutilities
docear_plugin_search
docear_plugin_services
docear_resources
freeplane
freeplane_ant
freeplane_devresources
freeplane_framework
freeplane_mac
freeplane_plugin_account_manager
freeplane_plugin_bugreport
freeplane_plugin_formula
freeplane_plugin_help
freeplane_plugin_latex
freeplane_plugin_script
freeplane_plugin_script_test
freeplane_plugin_svg
freeplane_plugin_uispec4j
freeplane_plugin_workspace
freeplane_uitest
Jabref_Beta_2_7_Docear
JOrtho_0.4_freeplane
docear_plugin_webservice/nbproject/private/
docear_plugin_webservice_tests/nbproject/private/
docear_plugin_webservice/lib/
